extends layout
block content
    - if (user) {
    #user
        img(src='#{user.picture}', height='40', width='40')
        &nbsp;
        span #{user.email} #{user.name}
        br
        br
    - }
    #menu
        a(onclick='changeSongList("/home")', href='#') Home
        span 
        input(type="text", name="search", id="search")
        #playing
            #playingTitle(class="title") #{songArray[0].title}
            |  by 
            #playingArtist(class="artist") #{songArray[0].artist}
    #library(style="height:600px")
        include songlist
    #audio 
        #playdiv
            a.control(href='#', id='play') Play
        #nextdiv
            a.control(href='#', id='next') Next
        #timediv 0:00
        #audiodiv
            audio(controls='controls', id='audioctr')
                source(src='/fetch/song/#{songArray[0].id}', type='audio/mpeg', id='aud_src', data-id='0')
