extends layout

block content
    - var song;
    - for(var i = 0; i < songArr.length; i++) {
    -     song = songArr[i];
        div
            a(href='/artist/#{song.artist}', class='artist') #{song.artist}
            span 
            a(href='/album/#{song.album}', class='album') #{song.album}
            span 
            a(href='/fetch/#{song.id}', class='title', target='_blank') #{song.title}
    - }
