extends layout

block content
    - for(var i = 0; i < songArr.length; i++) {
        div
            a(href='/fetch/#{songArr[i].id}', target='_blank') No: #{i}, Artist: #{songArr[i].artist}, Album: #{songArr[i].album}, Title: #{songArr[i].title}
    - }
