.overview
    script
        var listLength = #{songArr.length};
    - var song, nextSong, i;
    - for(i = 0; i < songArr.length; i++) {
    -     song = songArr[i];
    -     nextSong = songArr[i+1] || songArr[0];
            div
            a(onclick='changeSongList("/artist/#{song.artist}")', href='#', class='artist') #{song.artist}
            span 
            a(onclick='changeSongList("/album/#{song.album}")', href='#', class='album') #{song.album}
            span 
            a(onclick='changeaudio("/fetch/#{song.id}", #{i})', 
            data-next='/fetch/#{nextSong.id}', id='song#{i}', href='#', class='title') #{song.title}
    - }

